@import '../../styles.scss';


#channelList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#channel {
    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 3px $orange solid;
    position: relative;
    cursor: pointer;
    &:hover{
        box-shadow: $gray 0px 0px 15px 5px;
    }
}

#name{
    position: absolute;
    bottom: 0;
    background-color: $black;
    opacity: .8;
    padding: 3% 5%;
    margin: 0px;
    width: 90%;
}

ul{
    padding: 0px;;
}

#top{
    margin-left: 5%;
    button{
        @include navButtons;
        margin: 1%;
    }
    input {
        font-size: 18px;;
    }
}

#more {
    @include navButtons;
    display: none;
    padding: 2%;
    width: 100%;
    font-size: 2.5em;
    cursor: pointer;
}