  <section class="container">
    <nav>
      <div id="left" >
        <a id="appName" href="/home">What's On?</a>
        <a href="/shows">Tv Shows</a>
        <a href="/movies">Movies</a>
        <a href="/channels">Channels</a>
      </div>
      <div id="right" >
        <app-search id="searchBox"></app-search>
        <a href='/list'>My Lists</a>
        <a href="/profile">Profile</a>
      </div>
    </nav>
  </section>
                <router-outlet></router-outlet>
                <footer>
                  <p>This application was made by Joshua Harrington<br>A student of Neumont College of Computer Science</p>
                </footer>