<div class="page">

    
    <section class="profile" *ngIf='edit==false && SignedIn == true'>
    <h1 id="account">Account</h1>
        
    <table>
        <tr>
            <th>Name: </th>
            <td id="name">{{current.displayName}}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td id='email'>{{current.email}}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>********</td>
        </tr>
        <tr>
            <th>Google</th>
            <td *ngIf='linkedG==true'>Linked!</td>
            <td *ngIf='linkedG==false'>Not Linked</td>
            <button *ngIf='linkedG==true' (click)="unlink('google.com')">Unlink</button>
            <button *ngIf='linkedG==false' (click)="linkGoogle()">Link</button>
        </tr>
        <tr>
            <th>Facebook</th>
            <td *ngIf='linkedF==true'>Linked!</td>
            <td *ngIf='linkedF==false'>Not Linked</td>
            <button *ngIf='linkedF==true' (click)="unlink('facebook')">Unlink</button>
            <button *ngIf='linkedF==false' (click)="linkFacebook()">Link</button>
        </tr>
    </table>
    <div id="btns">
        <button (click)='editUser()'>Edit Profile</button>
        <button (click)='signout()'>Sign Out</button>
    </div>
    </section>
    
    <section id="list" *ngIf='SignedIn == true'>
            <div class="row">
                <h1 id="myList">My List</h1>
                <a id="all" href="/list">See all ></a>
            </div>
            
            <div class="outer">
                <div class="inner">
                    <h2 *ngIf='myList.length == 0'>Add some movies or shows to your favorites to see them here</h2>
                    <div *ngFor='let media of myList' class="column" [class.selection]='media === SelectedMedia'>
                        <div class="media" (click)='selectMedia(media)'>
                            <img src="{{imageBase}}{{size}}{{media.poster}}" alt="{{media.title}} poster">
                            <h3>{{media.title}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- <div *ngIf='SignedIn == false'>
            <h2 >You need to sign up or login to have account information</h2>
            <a href="/signin">Log In</a>
        </div> -->

        <section id="edit" *ngIf="edit">
            <div class="profile">

                <div class="modal" id="myModal">
                    <div class="model-content">
                        <span class="close">$times</span>
                        <app-signin></app-signin>
                    </div>
                </div>
                
                <h1 id="EditProfile">Edit Profile</h1>
                <div *ngIf='SignedIn == false'>
                    <h2 >You need to sign up or login to have account information</h2>
                    <a href="/signin">Log In</a>
                            </div>
                            <table *ngIf='SignedIn == true'>
                                <tr>
                                    <th>Name: </th>
                                    <input [(ngModel)]="name" type="text" placeholder="{{current.fname}} {{current.lname}}" value='{{current.fname}} {{current.lname}}'>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                        <input [(ngModel)]='email' placeholder="{{current.email}}" type="text" value={{current.email}}>
                                    </tr>
                                    <tr>
                                        <th>Password</th>
                                        <input [(ngModel)]='password' placeholder="{{current.password}}" type="text" value={{current.password}}>
                                    </tr>
                                </table>
                                <button id="saveEdit" (click)='saveEdit(name, email, password)'>Save</button>
                            </div>
        </section>

</div>