
<div class="page" id="otherDisplay">

    <div id="description">
        <div id="test"></div>

        <div id="top" class="class">
            <div class="row">

                <div id="photo">
                    <img id="moviePoster" src="https://image.tmdb.org/t/p/{{size}}{{mdbMedia.poster_path}}" alt="{{mdbMedia.title}} Poster"><br>
                </div>
                
                <div id="text">
                    <div class="row">
                        <h1 class="name t-black" *ngIf='this.type=="movie"'>{{mdbMedia.title}}</h1>
                        <h1 class="name t-black" *ngIf='this.type=="tv"'>{{mdbMedia.name}}</h1>
                        <div *ngIf='inFave==false' class="add" (click)='addToList(mdbMedia)'>&#43;</div>
                        <div *ngIf='inFave==true' class="add" (click)='deleteFromList(mdbMedia)'>&#10005;</div>
                    </div>
                    <div *ngFor='let channel of media.channels' class="row">
                        <img id="channelImg" src="{{channel.artwork_208x117}}" alt="Channel Image" (click)='toChannel(channel.name)'>
                    </div>

                    <div class="t-gray">
                            {{media.rating}} {{media.release_date | date: 'shortDate'}}<br>
                    </div>
                    <div class="row t-gray">
                        <div id="genres" *ngFor="let genre of mdbMedia.genres">{{genre.name}}&nbsp;</div>
                    </div>
                    <p>
                        {{mdbMedia.overview}}
                    </p>
                </div>
            </div>

            <div id="movieLinks" *ngIf='this.type == "movie"' class="t-black">
                <div id="free" class="row" *ngIf='media.free_web_sources.length != 0'>
                        <b>Free Links</b>
                    <div id="freeLinks" *ngFor='let link of media.free_web_sources'>
                        <button (click)='displayLink(link.link)'>{{link.display_name}}</button>
                    </div>
                </div>
                <div *ngIf='media.free_web_sources.length == 0'>
                    <h4>No free links at this time</h4>
                </div>
                
                <div id='subscription' class="row" *ngIf='media.subscription_web_sources.length != 0'>
                        <b>Subscription Links:</b>
                    <div id="subscriptionLinks" *ngFor='let link of media.subscription_web_sources'>
                        <button (click)='displayLink(link.link)'>{{link.display_name}}</button>
                    </div>
                </div>
                <div *ngIf='media.subscription_web_sources.length == 0'>
                        <h4>No subscription links at this time</h4>
                    </div>

                    <div id="purchase" class="row" *ngIf='media.purchase_web_sources.length != 0'>
                            <b>Purchase Links:</b>
                    <div id="purchaseLinks" *ngFor='let link of media.purchase_web_sources'>
                            <button (click)='displayLink(link.link)'>{{link.display_name}}</button>
                        </div>
                    </div>
                    <div *ngIf='media.purchase_web_sources.length == 0'>
                            <h4>No purcahse links at this time</h4>
                        </div>
            </div>
        </div>

    </div>
                
        
<div class="tabs">
    <button *ngIf='this.type == "tv"' class="tablinks" (click)="openTab(event, 'Episodes')">Episodes</button>
    <button class="tablinks" (click)="openTab(event, 'Related')">Related Content</button>
    <button class="tablinks" (click)="openTab(event, 'Details')">Details</button>
</div>

            <div class="tabcontent column" id="Episodes">
                <select [(ngModel)]="seasonNum" (ngModelChange)='getEpisodesBySeason()' id="seasonNum" aria-placeholder="Season">
                    <option *ngFor='let season of mdbMedia.seasons' value="{{season.season_number}}">{{season.name}}</option>
                </select>
                                <div id="episodeList" class="row" *ngIf='this.type=="tv"'>
            
                            <!-- <h2>Episodes</h2> -->
            
                                <div class="episodeDisplay" *ngFor='let data of episodes'>
                                    <img src="{{data.thumbnail_304x171}}" alt="{{data.title}} Poster"/>
                                    <h5 id="episodeNum">Episode {{data.episode_number}}</h5>
                                    <h3>{{data.title}}</h3>
                                    
                                    <div class='onHov'>
                                        <p>{{data.overview}}</p>
                                        
                                        <div id="linkSection">
                                            <div id="free" *ngIf='data.free_web_sources.length != 0'>
                                                <b>Free Links</b>
                                                <div class="row btnRow">

                                                    <div id="freeLinks" *ngFor='let link of data.free_web_sources'>
                                                        <button class="btn" (click)='displayLink(link.link)'>{{link.display_name}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div id='subscription' *ngIf='data.subscription_web_sources.length != 0'>
                                                <b>Subscription Links:</b>
                                                <div class="row btnRow">
                                                    <div class="row" id="subscriptionLinks" *ngFor='let link of data.subscription_web_sources'>
                                                        <button class="btn" (click)='displayLink(link.link)'>{{link.display_name}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div id="purchase" *ngIf='data.purchase_web_sources.length != 0'>
                                            <b>Purchase Links:</b>
                                            <div class="row btnRow">

                                                <div id="purchaseLinks" *ngFor='let link of data.purchase_web_sources'>
                                                    <button class="btn" (click)='displayLink(link.link)'>{{link.display_name}}</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        <button id="more" (click)='getMoreEpisodes()'>Load More</button>
            </div>
            <div class="tabcontent" id="Related">
                <div class="row outer">
                    <h2 *ngIf='type == "tv"'>Related Shows</h2>
                    <h2 *ngIf='type == "movie"'>Related Movies</h2>
                    <div class="inner">
                        <div class="related" *ngFor='let media of related'  [class.selected]='media === selectedMovie'>
                            <div class="similar" (click)='selectMovie(media)' *ngIf='media.poster_path != null'>
                                <img src="{{imageBase}}{{size}}{{media.poster_path}}" alt="poster">
                                <!-- <p>{{media.name}}</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabcontent" id="Details">
                    <div class="castDisplay outer">
                            <h2>Cast: </h2> 
                            <div class="inner">
                                <div class="cast" *ngFor="let actor of cast.cast">
                                    <b>
                                        {{actor.name}}
                                    </b><br>
                                    <img *ngIf='actor.profile_path != null' src="https://image.tmdb.org/t/p/{{size}}{{actor.profile_path}}" alt="{{actor.name}} Image" width="100"/><br>
                                    <img *ngIf='actor.profile_path == null' src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTE7k4g5KPy-h16NtnbwVztCvDbeKM4yon1CApY5EMwbxldYYXv" alt="Broken Image" width="100" height="150"><br>
                                    {{actor.character}}
                                </div>
                            </div>
                        </div>
            </div>




</div>
