@import '../../styles.scss';

#moviePoster{
    width: 90%;
}


#description {
    background: linear-gradient(to right, $orange 35%, transparent 75%);
    padding: 2% 0%;
    position: relative;
    h1{
        margin: 0%;
    }
    #test{
        margin-left: 35%;
        opacity: 0.8;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
#test{
    opacity: 1;
}

.poster {
    border: solid $black 2px;
    width: 200px;
}

.castDisplay {
    display: -webkit-box;
    align-items: baseline;
    margin: 2%;
}

.cast{
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.outer{
    display: flex;
    flex-direction: column;
}

.inner{
    width: 100%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

#episodeList{
    display: -webkit-box;
    align-items: baseline;
    margin: 2%;
}

.episodeDisplay {
    display: inline-block;
    padding: 5px;
    z-index: 1;
    position: relative;
}

.episodeDisplay:hover .onHov{
    display: block;
    z-index: 5;
    position: absolute;
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $orange;
}

.onHov{
    display: none;
}

#top {
    width: 50%;
    margin-top: 3%;
}

#text{
    width: 90%;
    margin: 2%;
    padding-top: 5%;
}

#photo{
    width: 80%;
    text-align: end;
}
#episodeNum{
    padding: 0px;
    margin: 0px;
}
