/* You can add global styles to this file, and also import other style files */

// Fonts (titles, everthing else)
$titleFont: 'Righteous', cursive;
$otherFont: 'Kanit', sans-serif;

body{
    margin: 0px;
}

nav{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: $titleFont;
    font-size: 22px;
    height: 50px;
    padding: 10px;
    align-items: center;
    a{
        text-decoration: none;
        color: #fff;
    }
    div{
        flex: 1;
    }
}
.container {
    background-color: #0033aa;
    margin: 0px;
}

#searchBox{
    align-content: center;
    flex: 2;
}