
$titleFont: 'Righteous', cursive;
$otherFont: 'Kanit', sans-serif;

@mixin navButtons{
    cursor: pointer;
    font-size: 16px;
    font-family: $titleFont;
    border-radius: 25px;
    padding: 10px;
    background-color: #FFF;
    color: #03a;   
    border: #03a solid 2px;
    &:hover {
        background-color: #03a;
        color: #fff;
        border: #fff solid 2px;
    }
}

#searchBar{
    margin: 1%;
    border-radius: 25px;
    width: 30%;
    height: 30px;
    font-size: 18px;
    padding: 10px;
}

#searchBtn{
    @include navButtons
}

