@import '../../styles.scss';

#searchResults{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clickableMovie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    width: 150px;
    cursor: pointer;

}

.poster{
    height: auto;
    width: 200px; 
}

mat-tab{
    color: white;
}

li{
    cursor: pointer;
    list-style: none;
    margin: .5%;
}

.trans{
    position: relative;
    transition: all .2s ease-in-out;
    &:hover{
        transform: scale(1.1);
        box-shadow: $gray 0px 0px 10px 0px;
    }
}


ul{
    text-align: center;
    padding: 0px;
    justify-content: center;
}

.page{
    width: 90%;
    margin: 0% 5%;
}

